@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';

.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #fff;
    box-shadow: 0px 10px 20px -16px rgba(0,0,0,0.33);
}
.nav-wrapper{
    display: flex;
    list-style: none;
  }
.nav-wrapper a {
    display: block;
    padding: 5px 10px ;
    margin: 0 10px;
    color: #26262C;
    text-decoration: none;
  }
.nav-wrapper ul{
    height: 20px;
}
.nav-wrapper a:hover{
    background-color: #6BFFA7;
    border-radius: 4px;
}
.nav-wrapper a:focus{
    background-color: #6BFFA7;
    border-radius: 4px;
}
.nav-main img{
    width: 60px;
    padding: 20px;
}
.nav-mobile{
    display: none;
}
@media (max-width: 900px){
    .nav-wrapper{
        display: none;
    }
    .nav-mobile{
        display: block;
        list-style: none;
    }
    .nav-mobile i{
        padding: 20px;
        color: #6BFFA7;
    }
    .nav-mobile-back{
        display: none;
        position: absolute;
        right: 1px;
        background-color: #fff;
        height: 80vh;
        padding: 0 20px;
        transition: ease 2s;
    }
   .fa-bars:active + .nav-mobile-back{
       display: block;
       transition: 2s;
    }
}